body {
  background-color: rgba(200, 144, 238, 0.59);
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  color: rgb(90, 26, 90);
  padding: 2em;
  size: 50px;
  font-family: 'Brush Script MT', cursive;
  background-color: white;
}

.app {
  text-align: center;
  padding: 3em;
}

.search-bar {
  margin: 2em 0;
}
.search-bar input {
  padding: 0.5em 1em;
  font-size: 1rem;
  width: 250px;
  border: 1px solid rgb(90, 26, 90);
  border-radius: 8px;
}

.search-bar button {
  padding: 0.5em 1.2em;
  margin-left: 10px;
  background-color: rgb(90, 26, 90);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.navbar {
  background-color: rgb(90, 26, 90);
  text-align: center;
  color: white;
  font-family:'Courier New', Courier, monospace;
}

.book-table {
margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-table th, .book-table td{
  border: 1px solid black;
  padding: 12px;
}

.book-table th {
  background-color: rgb(90, 26, 90);
  color: white;
}

.book-table img {
  height: 120px;
}